
.about-me {
  text-align: center;
}
.withbg {
    background-image: url(https://previews.123rf.com/images/fotographic1980/fotographic19801803/fotographic1980180300003/97700878-science-technology-concept-on-an-abstract-background-design-vector-illustration.jpg);
    background-size: cover;
}
.navbar-brand {
   background-image: url(https://i.stack.imgur.com/5h2LH.png);
}
.bg-light {
  background-image: url(https://static.bhphoto.com/images/images500x500/1157995365_163032.jpg);
}
   .footer {
      background-image : url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80.jpg); 
      } 
      .withag {
        text-decoration-color: green;
      }


